@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url(var.css);



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 16px;
}



.nav {
    width: 100%;
    height: 4.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    cursor: default;
    
}

.nav .logo {
    margin-top: 20px;
    height: 200%;


}

.nav__ul {
    margin-right: 2em;
}

.nav__li {
    display: inline-block;
    margin: .5em;
    padding: .2em;
    
    font-size: 1em;

}

.nav__li a {
    cursor: pointer;
    transition: all 1;
    color: black;
}

.nav__ul .button {
    background-color: rgb(31, 31, 31);
    border-radius: 25px;
    color: var(--main-color);
    padding: .6em;

}

.nav__li a:active {
    color: #fff;

}

.button a:hover {
    color: #fff;
}

.nav__li {
    transition: all .5s;
}

.nav__li:hover {
    transform: translateY(-7px);
}



a.button_a{
    color: var(--main-color);
}

/* ---------------------------------HEADER------------------------------------- */
.header {
    width: 100%;
    height: calc(100vh);
    background-image: url(/assets/imgs/altumcode-PNbDkQ2DDgM-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.header__title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

.header__title h1,
.header__title h2 {
    transform: translateY(-20px);
    font-size: 4.5em;
    
    color: var(--main-color);;
    text-shadow: rgb(255, 255, 255) 5px 3px;
    text-align: center;
}

.header__title h2 {
    font-size: 5em;
}



.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 700px;
    background-color: #f0f8ff;
}

.img-about-container {
    width: 50%;
    height: 50%;
    margin-right: 16;
}

.about__img {
    width: 100%;
    height: 100%;
}

.about__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    width: 50%;
    height: 50%;
    margin-left: 4em;
    padding-left: 16px;
}

.about__title {
    width: 60%;
    font-size: 3em;
    text-align: left;
    color: var(--main-color);
    text-shadow: #fffdfd 5px 5px;
    font-family: sans-serif;


}
.about__title h2 span{
    display: block;
}
.about__text {
    max-width: 600px;
    font-size: 1em;
    margin: 16px 0;
    margin-bottom: 16px;
    color: rgb(82, 82, 82);
    font-family: 'Balsamiq Sans', cursive;
}

.about__info .buttons {
    width: 50%;
    text-align: center;
}

.buttons a {
    display: inline-block;
    margin: 15px;
    padding: 10px ;
    background-color: var(--main-color);
    border-radius: 25px;
    min-width: 35%;
    text-decoration: none;
    color: #fff;
    font-family: 'Balsamiq Sans', cursive;

}

.buttons a:hover {

    background-color: #ffffff;
    color: var(--main-color);
    box-shadow: 0px 0px 0px 2px var(--main-color) inset;


}